apps/mobile/android/keystore.properties
apps/mobile/android/release.keystore

node_modules/
.pnpm-store/
.pnpm-store-mobile/
*.log
artifacts/

apps/mobile/android/local.properties
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
apps/mobile/android/app/.cxx/

certs/*.key
apps/mobile/android/*.keystore
apps/mobile/android/keystore.properties
